        @import url('https://fonts.googleapis.com/css?family=Poppins');
        @import url('https://fonts.googleapis.com/css?family=Staatliches');
        @import url('https://fonts.googleapis.com/css?family=Didact+Gothic');
        @import url('https://fonts.googleapis.com/css?family=Zilla+Slab');
        @import url('https://fonts.googleapis.com/css?family=M+PLUS+1p');
        @import url('https://fonts.googleapis.com/css?family=Montserrat');
        @import url('https://fonts.googleapis.com/css?family=Old+Standard+TT');
        @import url('https://fonts.googleapis.com/css?family=Actor');
        @import url('https://fonts.googleapis.com/css?family=Ubuntu');
        @import url('https://fonts.googleapis.com/css?family=Roboto');
        @import url('https://fonts.googleapis.com/css?family=Hepta+Slab&display=swap');
        @import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
        @import url('https://fonts.googleapis.com/css?family=Oranienbaum&display=swap');
        @import url('https://fonts.googleapis.com/css?family=Ramabhadra&display=swap');
        /* # latest_news.html */

        table th {
    width: auto !important;
}
        
        .Title {
            font-family: FontBlogTitle;
            color: rgb(54, 54, 54);
        }
        
        u {
            text-decoration: none;
            transition: all ease-in-out .3s;
            background: transparent;
            border-bottom: 3px solid #FF9800;
        }
        
        u:hover {
            background: #ff9800;
            color: #000;
        }
        
        .link-style-none {
            text-decoration-line: none !important;
        }
        
        .text-overlay-bg {
            background-color: rgba(63, 43, 0, 0.829);
            padding: 0.5rem 1rem;
        }
        
        .latest-news-bg {
            /* The image used */
            background-image: url("../img/latest_news/latest_news_bg.png");
            /* Full height */
            height: 50%;
            /* Center and scale the image nicely */
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
        
        .causes-bg {
            /* The image used */
            background-image: url("../img/causes/causes_bg.png");
            /* Full height */
            height: 50%;
            /* Center and scale the image nicely */
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
        
        .evidence-bg {
            /* The image used */
            background-image: url("../img/evidences/evidence_bg.jpg");
            /* Full height */
            height: 50%;
            /* Center and scale the image nicely */
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
        
        .solution-bg {
            /* The image used */
            background-image: url("../img/solutions/solution_bg3.jpg");
            /* Full height */
            height: 50%;
            /* Center and scale the image nicely */
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
        
        #circle_1_solution:focus,
        #circle_2_solution:focus,
        #circle_3_solution:focus,
        #rect_1_solution:focus,
        #rect_2_solution:focus,
        #rect_3_solution:focus {
            outline: none;
        }
        
        .index-solution {
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
        
        .register-bg {
            /* The image used */
            background-image: url("../img/register/alfons-morales-YLSwjSy7stw-unsplash.jpg");
            /* Full height */
            height: 50%;
            /* Center and scale the image nicely */
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
        
        .card-grid {
            width: 20%;
            height: auto;
        }
        
        .card-grid-image {
            width: 100%;
        }
        
        .middle-section {
            background: rgb(255, 192, 0);
            background: linear-gradient(120deg, rgba(255, 192, 0, 0.9864320728291317) 0%, rgba(255, 5, 5, 0.8631827731092436) 100%);
        }
        
        #solutions {
            background: rgb(255, 0, 52);
            background: linear-gradient(159deg, rgba(255, 0, 52, 0.9864320728291317) 0%, rgba(99, 0, 0, 1) 100%);
        }
        
        .img-icon {
            width: 60px;
            height: 60px;
        }
        
        .img-icon-indonesia {
            width: 60px;
            height: 60px;
        }
        
        ._1px_bolder {
            border: 1px solid #FF9800;
        }
        
        .horizontal_low_padding {
            padding: 0 0.4rem;
        }
        
        .my-text-muted {
            color: #B5B2B3;
        }
        
        .light-shadow:hover {
            box-shadow: 3px 3px 5px #eee;
        }
        
        .img-box-shadow {
            transition: all ease-in-out 0.3s;
        }
        
        .img-box-shadow:hover {
            box-shadow: 3px 3px 5px #2F3030;
        }
        
        .white-link {
            color: rgb(255, 255, 255);
        }
        
        .paragraph_text {
            font-size: 1.10rem;
            line-height: 1.5rem;
            font-family: 'Lato', sans-serif;
            padding-top: 0;
        }
        
        footer {
            background-color: #2F3030;
        }
        
        .my-input {
            border: 0;
            border-radius: 0;
        }
        
        #button {
            display: inline-block;
            background-color: #FF9800;
            width: 50px;
            height: 50px;
            text-align: center;
            border-radius: 0;
            position: fixed;
            bottom: 30px;
            right: 30px;
            transition: background-color .3s, opacity .5s, visibility .5s;
            opacity: 0;
            visibility: hidden;
            z-index: 1000;
        }
        
        #button::after {
            content: "\f062";
            font-family: FontAwesome;
            font-weight: normal;
            font-style: normal;
            font-size: 1.5em;
            line-height: 50px;
            color: #fff;
        }
        
        #button:hover {
            cursor: pointer;
            background-color: #333;
        }
        
        #button:active {
            background-color: #555;
        }
        
        #button.show {
            opacity: 1;
            visibility: visible;
        }
        /* Styles for the content section */
        
        .content {
            width: 77%;
            margin: 50px auto;
            font-family: 'Merriweather', serif;
            font-size: 17px;
            color: #6c767a;
            line-height: 1.9;
        }
        
        .solution {
            transition: all ease-in-out 0.4s;
            padding: 1rem;
        }
        
        .solution:hover {
            padding: 1rem;
            background-color: rgb(143, 15, 22);
            cursor: pointer;
        }
        /* Styles for the content section */
        
        .content {
            width: 77%;
            margin: 50px auto;
            font-family: 'Merriweather', serif;
            font-size: 17px;
            color: #6c767a;
            line-height: 1.9;
        }
        
        @media (min-width: 500px) {
            .content {
                width: 43%;
            }
            #button {
                margin: 30px;
            }
        }
        
        .content h1 {
            margin-bottom: -10px;
            color: #03a9f4;
            line-height: 1.5;
        }
        
        .content h3 {
            font-style: italic;
            color: #96a2a7;
        }
        /********** # title how it works (For border around 'How it works') **********/
        
        .title-how-it-works {
            border: 1px solid #BDC1C5;
            border-radius: 0;
            padding: 0.3rem 1rem;
        }
        /********** # Style of 'How it works' **********/
        
        .how-it-works>h2 {
            text-transform: uppercase;
            letter-spacing: 0.1rem;
            font-family: 'Zilla Slab', serif;
            font-weight: 700;
            color: #1C0331;
        }
        /********** # Horizontal line **********/
        
        .line {
            margin-bottom: 1rem;
            border-bottom: 1px solid #BDC1C5;
        }
        /********** # Card how it works **********/
        
        .card-how-it-works {
            box-shadow: 2px 3px 300px #E2E2E2;
            padding: 1rem;
            border-radius: 0.7rem;
        }
        
        .card-how-it-works:hover {
            box-shadow: 2px 10px 20px #D0D0D0;
            /*background-image: linear-gradient(to top, #97BDE2 0%, white 100%);*/
            /*background: linear-gradient(to bottom, #97BDE2 0%, #639DD4 40%, #166CBF 150%), linear-gradient(to top, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.25) 200%);
 background-blend-mode: multiply;*/
        }
        /********** # h5 Card how it works **********/
        
        .card-how-it-works>h5 {
            color: #166CBF;
            /*font-family: 'M PLUS 1p', sans-serif;*/
            /*font-family: 'Montserrat', sans-serif;*/
            /*font-family: 'Old Standard TT', serif;*/
            /*font-family: 'Actor', sans-serif;*/
            /*font-family: 'Ubuntu', sans-serif;*/
            font-family: 'Roboto', sans-serif;
            margin-top: 1.2rem;
        }
        /********** # p Card How it works **********/
        
        .card-how-it-works>p {
            color: #383838;
        }
        /********** # div of how it works icons **********/
        
        .how-it-works-icons {
            margin: 0;
            box-sizing: border-box;
            margin-bottom: 0.5rem;
        }
        /********** # icons how it works **********/
        
        .how-it-works-icons>img {
            width: 60px;
            height: 60px;
        }
        /********** # Rating Stars in How it works **********/
        
        .div-stars {
            display: inline-block;
            border: 1px solid #b6bbcd;
            padding: 0.5rem;
            border-radius: 2rem;
        }
        
        .div-stars>.fa-star {
            color: #FFCE34;
        }
        /********** # hr each side of Rating stars **********/
        
        .each-side-hr {
            position: relative;
            z-index: 1;
            overflow: hidden;
        }
        
        .each-side-hr:before,
        .each-side-hr:after {
            position: absolute;
            top: 51%;
            overflow: hidden;
            width: 50%;
            height: 1px;
            content: '\a0';
            background-color: #b6bbcd;
        }
        
        .each-side-hr:before {
            margin-left: -50%;
            text-align: right;
        }
        /*.div-get-appointment {
    position: relative;
}*/
        /********** # default button **********/
        
        .my-btn {
            /*position: absolute;*/
            /*float: right;*/
            color: #FFF;
            background-color: #166CBF;
            border: 1px solid #166CBF;
            border-radius: 2rem;
            box-shadow: 0;
        }
        
        .my-btn:hover {
            color: #FFF;
            background-color: #1662AC;
        }
        /********** # default outline button **********/
        
        .my-outline-btn {
            color: #166CBF;
            background-color: #FFF;
            border: 1px solid #166CBF;
            border-radius: 2rem;
            box-shadow: 0;
        }
        
        .my-outline-btn:hover {
            color: #FFF;
            background-color: #166CBF;
        }
        
        .what-they-say {
            position: relative;
        }
        
        #what-they-say {
            min-width: 100%;
            height: 100vh;
            background: url("../img/bg-what-they-say.png") no-repeat center center;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            z-index: -1;
        }
        
        .pf-in-what-they-say>img {
            width: 50px;
            height: 50px;
        }
        
        .card-what-they-say {
            position: relative;
            box-sizing: border-box;
            /*margin: 0.5rem 1rem 1rem 1rem;*/
            margin-top: 1rem;
            overflow: hidden;
            /*border-radius: 0.5rem;*/
        }
        
        .layer {
            z-index: 1;
            position: absolute;
            /*top: calc(100% - 1px);*/
            top: 100%;
            left: 0;
            width: 100%;
            height: 100%;
            background: #F5F0FE;
            /* fallback for old browsers */
            background: -webkit-linear-gradient(to right, #fff, #F5F0FE);
            /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, #fff, #F5F0FE);
            /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            transition: 0.5s;
        }
        
        .card-what-they-say:hover .layer {
            top: 0;
        }
        
        .card-what-they-say>.content {
            position: relative;
            z-index: 2;
        }
        
        .latest-posts {
            /*margin-top: -2.5rem;*/
        }
        
        .card-latest-posts {
            top: 0;
            left: 0;
            border: 1px solid #F00;
        }
        
        .card-latest-posts img {
            width: 22rem;
            height: 100%;
            border-radius: 0.3rem;
        }
        
        .card-latest-posts>h5 {
            padding: 0.5rem 1rem 0.5rem 0.5rem;
        }
        
        .card-latest-posts>p {
            padding: 0rem 1rem 0.5rem 0.5rem;
        }
        
        .post-card {
            box-sizing: border-box;
            padding: 1rem;
            height: auto;
            background-color: #FFFFFF;
            margin-top: 10px;
            border: 0px solid #F00;
        }
        
        .post-card img {
            width: 100%;
            height: 230px;
            padding: 0 1rem;
            background-color: #FFF;
            cursor: pointer;
        }
        
        .post-img {
            background-color: #000000;
            height: 230px;
            margin-bottom: 1rem;
        }
        
        .post-card h5 a {
            font-weight: 600;
            font-family: 'Roboto', sans-serif;
            color: #2B143F;
        }
        
        .post-card p {
            text-align: justify;
            text-justify: inter-word;
        }
        
        .post-author {
            color: white;
            background-color: #ED1C24;
            border-radius: 2rem;
        }
        
        .post-date {
            border: 1px solid #1C0331;
            color: #1C0331;
            border-radius: 2rem;
        }
        
        #threats_to_investment {
            color: yellow;
        }
        
        #loons {
            color: black;
        }
        /********** # 960 **********/
        
        @media screen and (max-width: 960px) {
            /*#what-they-say {
        height: 100vh;
        background: url("../img/bg-what-they-say.png") no-repeat center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }*/
        }